.card {
  box-shadow: 0px 7px 10px 1px rgb(0 0 0 / 15%);
}


.reciever {
  font-family: Yellowtail, cursive;
  font-size: 32px;
  font-style: normal;
  text-shadow: #FFEB3B 0 0 10px;
}


.from {
  font-family: Yellowtail, cursive;
  font-size: 1.6em;
  font-style: normal;
  text-shadow: #FFEB3B 0 0 10px;
}


.details {
  padding: 1em 2em;
  margin: 1.5em 0px;
  background-color: rgb(177 174 174 / 8%);
  font-style: italic;
  font-size: 1.1em;
  border-radius: 10px;
}